swagger: '2.0'
info:
  description: |-
    Api to configure agreements and generate agreements services to cloudbanco
     The Customers API uses the authorization_code grant type, for authorization details
  version: '1.0'
  title: Cloudbanco Api Agreements
host: 'app.cloudbanco.com'
basePath: /cloudbanco/backoffice/api/
tags:
  - name: api-cloudbanco-agreements
    description: Api Cloudbanco Agreements
  - name: api-cloudbanco-agreements-params
    description: API Cloudbanco Agreements Params
  - name: api-cloudbanco-enterprise-customer
    description: Api Cloudbanco Enterprise Customer
paths:
  /v1/agreements:
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to get all Agreements
      operationId: findAllAgreementsUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgreement'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to Create new Agreement Header
      operationId: createAgreementHeaderUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreement
          description: agreement
          required: true
          schema:
            $ref: '#/definitions/CAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to Update Agreement Header
      operationId: updateAgreementHeaderUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreement
          description: agreement
          required: true
          schema:
            $ref: '#/definitions/CAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/agreement-comission:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to create Agreement Comission Information
      operationId: saveAgreementComissionUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementComission
          description: agreementComission
          required: true
          schema:
            $ref: '#/definitions/CAgreementComission'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementComission'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to update Agreement Comission Information
      operationId: updateAgreementComissionUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementComission
          description: agreementComission
          required: true
          schema:
            $ref: '#/definitions/CAgreementComission'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementComission'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-comission/by-agreement/{agreementId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Comission Information by agreement id
      operationId: findAgreementComissionByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementId
          in: path
          description: agreementId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementComission'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementComission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-comission/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Comission Information by id
      operationId: findAgreementComissionByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementComission'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementComission'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/agreement-event:
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find all agreement type
      operationId: findAllAgreementEventEnumUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CatalogDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/agreement-notification:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to create Agreement Notification '
      operationId: saveAgreementNotificationUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementNotification
          description: agreementNotification
          required: true
          schema:
            $ref: '#/definitions/CAgreementNotification'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementNotification'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to update Agreement Notification '
      operationId: updateAgreementNotificationUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementNotification
          description: agreementNotification
          required: true
          schema:
            $ref: '#/definitions/CAgreementNotification'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementNotification'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-notification/by-agreement/{agreementId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Notification  by agreement id
      operationId: findAgreementNotificationByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementId
          in: path
          description: agreementId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementNotification'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementNotification'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-notification/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Notification  by id
      operationId: findAgreementNotificationByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementNotification'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementNotification'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/agreement-security:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to create Agreement Security Information
      operationId: saveAgreementSecurityUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementSecurity
          description: agreementSecurity
          required: true
          schema:
            $ref: '#/definitions/CAgreementSecurity'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementSecurity'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to update Agreement Security Information
      operationId: updateAgreementSecurityUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementSecurity
          description: agreementSecurity
          required: true
          schema:
            $ref: '#/definitions/CAgreementSecurity'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementSecurity'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-security/by-agreement/{agreementId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Security Information by agreement id
      operationId: findAgreementSecurityByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementId
          in: path
          description: agreementId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementSecurity'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementSecurity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-security/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Security Information by id
      operationId: findAgreementSecurityByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementSecurity'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementSecurity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/agreement-tributary-data:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to create Agreement TributaryData '
      operationId: saveAgreementTributaryDataUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementTributaryData
          description: agreementTributaryData
          required: true
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to update Agreement TributaryData '
      operationId: updateAgreementTributaryDataUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementTributaryData
          description: agreementTributaryData
          required: true
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-tributary-data/by-agreement/{agreementId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement TributaryData  by agreement id
      operationId: findAgreementTributaryDataByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementId
          in: path
          description: agreementId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-tributary-data/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement TributaryData  by id
      operationId: findAgreementTributaryDataByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgreementTributaryData'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/agreement-tx-information:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to create Agreement Tx Information
      operationId: saveAgreementTxInformationUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementTxInformation
          description: agreementTxInformation
          required: true
          schema:
            $ref: '#/definitions/CAgreementTxInformation'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTxInformation'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to update Agreement Tx Information
      operationId: updateAgreementTxInformationUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementTxInformation
          description: agreementTxInformation
          required: true
          schema:
            $ref: '#/definitions/CAgreementTxInformation'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTxInformation'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-tx-information/agreement-transaction-method/{agreementTxInformationId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Transaction Methods by agreement tx information Id
      operationId: findAllTransactionMethodsByAgreementTxInformationIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementTxInformationId
          in: path
          description: agreementTxInformationId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgreementTransactionMethod'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-tx-information/by-agreement/agreement-transaction-method/{agreementId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Transaction Methods by agreement Id
      operationId: findAllTransactionMethodsByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementId
          in: path
          description: agreementId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgreementTransactionMethod'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-tx-information/by-agreement/{agreementId}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Tx Information by agreement id Id
      operationId: findAgreementTxInformationByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agreementId
          in: path
          description: agreementId
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTxInformation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/agreement-tx-information/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement Tx Information by Id
      operationId: findAgreementTxInformationByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementTxInformation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/by-companies:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: Retrieve companies detail with banking services details
      operationId: findCAgreementWithEnterpriseCustomerIdUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: enterpriseCustomerIds
          description: enterpriseCustomerIds
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/ResponseEnterpriseAgreements'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/by-criteria:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to get all Agreements by criteria
      operationId: findAllAgreementsByCriteriaUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: criteria
          description: criteria
          required: true
          schema:
            $ref: '#/definitions/CAgreementDto'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/channel-information:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to create Agreement Channels and Payment Authorized information
      operationId: saveAgreementChannelInformationSectionUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreement
          description: agreement
          required: true
          schema:
            $ref: '#/definitions/CAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to update Agreement Channels and Payment Authorized information
      operationId: updateAgreementChannelInformationSectionUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreement
          description: agreement
          required: true
          schema:
            $ref: '#/definitions/CAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/documents:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to Create new DocumentServiceAgreements '
      operationId: createCDocumentForServiceAgreementUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: documentForServiceAgreement
          description: documentForServiceAgreement
          required: true
          schema:
            $ref: '#/definitions/CDocumentForServiceAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CDocumentForServiceAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to Update DocumentServiceAgreements '
      operationId: updateCDocumentForServiceAgreementUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: documentForServiceAgreement
          description: documentForServiceAgreement
          required: true
          schema:
            $ref: '#/definitions/CDocumentForServiceAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CDocumentForServiceAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/documents-by-service/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to get all DocumentServiceAgreements by serviceId
      operationId: findAllCDocumentForServiceAgreementUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CDocumentForServiceAgreement'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/documents-variables:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to Create new CDocumentVariables '
      operationId: createCDocumentVariablesUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: documentVariables
          description: documentVariables
          required: true
          schema:
            $ref: '#/definitions/CDocumentVariables'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CDocumentVariables'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: 'API to Update CDocumentVariables '
      operationId: updateCDocumentVariablesUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: documentVariables
          description: documentVariables
          required: true
          schema:
            $ref: '#/definitions/CDocumentVariables'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CDocumentVariables'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/documents-variables-by-document/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to get all CDocumentVariables by documentId
      operationId: findAllCDocumentVariablesByDocumentIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CDocumentVariables'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/documents-variables/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find CDocumentVariables by id
      operationId: findCDocumentVariablesByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CDocumentVariables'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CDocumentVariables'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements
      summary: API to delete CDocumentVariables by Id
      operationId: deleteCDocumentVariablesByIdUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Service deleted
        '204':
          description: No Content
        '400':
          description: No Service with specified id exists
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  '/v1/agreements/documents/download-file/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to get a File TTemplate related to a Documents by id
      operationId: getFileByDocumentIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/Resource'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/Resource'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The resource you were trying to reach is not found
      deprecated: false
  /v1/agreements/documents/load-file:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: >-
        Upload Word Template for Documents for Service Agreements and associated
        metadata
      operationId: uploadTemplteDocumentFileUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - in: body
          name: parts
          description: parts
          required: true
          schema:
            $ref: '#/definitions/Part'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/DocumentFileResponse'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: The resource you were trying to reach is not found
      deprecated: false
  '/v1/agreements/documents/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find DocumentServiceAgreements by id
      operationId: findCDocumentForServiceAgreementByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CDocumentForServiceAgreement'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CDocumentForServiceAgreement'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements
      summary: API to delete DocumentServiceAgreements by Id
      operationId: deleteDocumentServiceAgreementsByIdUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
        '202':
          description: Service deleted
        '204':
          description: No Content
        '400':
          description: No Service with specified id exists
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1/agreements/duplicate:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to duplicate new Agreement
      operationId: duplicateAgreementUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreement
          description: agreement
          required: true
          schema:
            $ref: '#/definitions/CAgreement'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreement'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/general-information:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to create Agreement general information
      operationId: saveAgreementGeneralInformationUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementInformation
          description: agreementInformation
          required: true
          schema:
            $ref: '#/definitions/CAgreementInformation'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementInformation'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to update Agreement general information
      operationId: updateAgreementGeneralInformationUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agreementInformation
          description: agreementInformation
          required: true
          schema:
            $ref: '#/definitions/CAgreementInformation'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementInformation'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/general-information/by-agreement/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement general information by agreement id
      operationId: findByAgreementIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementInformation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/general-information/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Agreement general information by its id
      operationId: findAgreementInformationByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgreementInformation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/order-approvals:
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find all Order Approvals
      operationId: findAllOrderApprovalDtoUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/COrderApprovalDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements
      summary: API to save a new Order Approval
      operationId: saveOrderApprovalUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: orderApproval
          description: orderApproval
          required: true
          schema:
            $ref: '#/definitions/COrderApproval'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/COrderApprovalDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements
      summary: API to update new Order Approval
      operationId: updateOrderApprovalUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: orderApproval
          description: orderApproval
          required: true
          schema:
            $ref: '#/definitions/COrderApproval'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/COrderApprovalDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/order-approvals/by-criteria:
    post:
      tags:
        - api-cloudbanco-agreements
      summary: >-
        API to find all Order Approvals by criteria the criteria is an object of
        type COrderApprovalDto
      operationId: findAllOrderApprovalDtoByCriteriaUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: criteria
          description: criteria
          required: true
          schema:
            $ref: '#/definitions/COrderApprovalDto'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/COrderApprovalDto'
        '201':
          description: Created
        '204':
          description: Operation success and returned no data
          schema:
            type: array
            items:
              $ref: '#/definitions/COrderApprovalDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/order-approvals/{id}':
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find Order Approval by Id
      operationId: findOrderApprobalByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/COrderApprovalDto'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/COrderApprovalDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements
      summary: API to delete a order-approvals by Id
      operationId: deleteCOrderApprovalByIdUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
        '202':
          description: Service deleted
        '204':
          description: No Content
        '400':
          description: No Service with specified id exists
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /v1/agreements/orientation-type:
    get:
      tags:
        - api-cloudbanco-agreements
      summary: API to find all orientation type
      operationId: findAllOrientationTypeEnumUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CatalogDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/accounting-acct/by-bank/{bankCode}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets all accounting accounts related to Bank
      operationId: retrieveAccountingAcctListByBankUsingGET
      produces:
        - '*/*'
      parameters:
        - name: bankCode
          in: path
          description: bankCode
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAccountingAccount'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/accounting-acct/by-criteria:
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: >-
        API to find all accounting accounts using a Criteria, the criteria is a
        CAccountingAccount instance
      operationId: retrieveAccountingAcctByCriteriaUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: criteria
          description: criteria
          required: true
          schema:
            $ref: '#/definitions/CAccountingAccount_1'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAccountingAccount'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/agency:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Agencies data
      operationId: findAllAgenciesUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new Agency
      operationId: createAgencyUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agency
          description: agency
          required: true
          schema:
            $ref: '#/definitions/CAgency'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgency'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Update new Agency
      operationId: updateAgencyUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: agency
          description: agency
          required: true
          schema:
            $ref: '#/definitions/CAgency'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgency'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/agency/by-branch/{branch}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Agencies by Branch
      operationId: findAgenciesByBranchUsingGET
      produces:
        - '*/*'
      parameters:
        - name: branch
          in: path
          description: branch
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/agency/by-name/{agencyName}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Agencies by Name
      operationId: findAgenciesByNameUsingGET
      produces:
        - '*/*'
      parameters:
        - name: agencyName
          in: path
          description: agencyName
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/agency/his/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets Agency History by code
      operationId: findAgenciesAudByCodeUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/agency/integration:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Agencies data from CORE
      operationId: retrieveAgencyListFromCoreUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/agency/integration/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find an Agency from CORE
      operationId: retrieveAgencyFromCoreUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgency'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/agency/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find an Agency by primary key
      operationId: retrieveAgencyByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CAgency'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete an Agency by primary key
      operationId: deleteAgencyUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CAgency'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CAgency'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/bank:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Banks data
      operationId: findAllBanksUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CBank'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new Bank
      operationId: createBankUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: bank
          description: bank
          required: true
          schema:
            $ref: '#/definitions/CBank_1'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CBank'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/bank/by-name/{bankName}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Banks by Name
      operationId: findBanksByNameUsingGET
      produces:
        - '*/*'
      parameters:
        - name: bankName
          in: path
          description: bankName
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CBank'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/bank/integration:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Banks data from CORE
      operationId: retrieveBankListFromCoreUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CBank'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/bank/integration/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Bank from CORE
      operationId: retrieveBankFromCoreUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CBank'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CBank'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/bank/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Bank by primary key
      operationId: retrieveBankByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CBank'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CBank'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete a Bank by primary key
      operationId: deleteBankUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CBank'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CBank'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/country:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Countries data
      operationId: findAllCountriesUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CCountry'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new Country
      operationId: createCountryUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: country
          description: country
          required: true
          schema:
            $ref: '#/definitions/CCountry_1'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CCountry'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/country-net:
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new Network associated to Country
      operationId: createCountryNetworkUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: countryNetwork
          description: countryNetwork
          required: true
          schema:
            $ref: '#/definitions/CCountryNetwork_1'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CCountryNetwork'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/country-net/by-country/{countryId}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Networks by Country data
      operationId: findNetworksByCountryUsingGET
      produces:
        - '*/*'
      parameters:
        - name: countryId
          in: path
          description: countryId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CCountryNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/country-net/integration/{countryId}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Networks associated to Country data from CORE
      operationId: retrieveCountryNetworkListFromCoreUsingGET
      produces:
        - '*/*'
      parameters:
        - name: countryId
          in: path
          description: countryId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CCountryNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/country-net/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Network associated to Country by primary key
      operationId: retrieveCountryNetworkByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CCountryNetwork'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CCountryNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete a Network associated to Country by primary key
      operationId: deleteCountryNetworkUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CCountryNetwork'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CCountryNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/country/integration:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Countries data from CORE
      operationId: retrieveCountryListFromCoreUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CCountry'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/country/integration/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Country from CORE
      operationId: retrieveCountryDetailFromCoreUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CCountry'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CCountry'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/country/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Country by primary key
      operationId: retrieveCountryByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CCountry'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CCountry'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete a Country by primary key
      operationId: deleteCountryUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CCountry'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CCountry'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/enterprise-customer:
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Gets All Enterprise Customers data
      operationId: getAllUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CEnterpriseCustomer'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Creates new Enterprise Customer
      operationId: createEnterpriseCustomerUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: enterprise
          description: enterprise
          required: true
          schema:
            $ref: '#/definitions/CEnterpriseCustomer'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CEnterpriseCustomer'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Updates Enterprise Customer data
      operationId: updateEnterpriseCustomerUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: enterprise
          description: enterprise
          required: true
          schema:
            $ref: '#/definitions/CEnterpriseCustomer'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CEnterpriseCustomer'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/enterprise-customer/accounts/{idType}/{id}':
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Gets All accounts of Enterprise Customers
      operationId: getCustomerAccountsUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
        - name: idType
          in: path
          description: idType
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/ResponseEnterpriseAccountServiceAgreement'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/enterprise-customer/by-criteria:
    post:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: getAllByCriteria
      operationId: getAllByCriteriaUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: criteria
          description: criteria
          required: true
          schema:
            $ref: '#/definitions/CEnterpriseCustomer'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CEnterpriseCustomer'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/enterprise-customer/by-executive/{executive}':
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: getAllByExecutive
      operationId: getAllByExecutiveUsingGET
      produces:
        - '*/*'
      parameters:
        - name: executive
          in: path
          description: executive
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CEnterpriseCustomer'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/enterprise-customer/economic-group:
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Gets All Economin Groups  data
      operationId: getAllEconomicGroupsUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CEconomicGroup'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Creates a new Economic Group
      operationId: createEconomicGroupUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: economicGroup
          description: economicGroup
          required: true
          schema:
            $ref: '#/definitions/CEconomicGroup'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CEconomicGroup'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Updates a Economic Group
      operationId: updateEconomicGroupUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: economicGroup
          description: economicGroup
          required: true
          schema:
            $ref: '#/definitions/CEconomicGroup'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CEconomicGroup'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/enterprise-customer/economic-group/{economicGroupId}':
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Finds a Economic Group's information
      operationId: findEconomicGroupByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: economicGroupId
          in: path
          description: economicGroupId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CEconomicGroup'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CEconomicGroup'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Deletes a Economic Group
      operationId: deleteEconomicGroupUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: economicGroupId
          in: path
          description: economicGroupId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
        '204':
          description: No Content
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/enterprise-customer/principal:
    put:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: setAsPrincipal
      operationId: setAsPrincipalUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: principalEnterpriseRequestDto
          description: principalEnterpriseRequestDto
          required: true
          schema:
            $ref: '#/definitions/PrincipalEnterpriseRequestDto'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/enterprise-customer/profiles/{idType}/{id}':
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Finds Enterprise Customer Information
      operationId: retrieveEnterpriseCustomerUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
        - name: idType
          in: path
          description: idType
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CEnterpriseCustomer'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/enterprise-customer/{economicGroupId}':
    get:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Gets All Enterprise Customers by Economic group
      operationId: getEnterPriseCustomersByEconomicGroupUsingGET
      produces:
        - '*/*'
      parameters:
        - name: economicGroupId
          in: path
          description: economicGroupId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CEnterpriseCustomer'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/enterprise-customer/{enterpriseCustomerId}':
    delete:
      tags:
        - api-cloudbanco-enterprise-customer
      summary: Deletes a Enterprise customer
      operationId: deleteEnterpriseCustomerUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: enterpriseCustomerId
          in: path
          description: enterpriseCustomerId
          required: true
          type: string
      responses:
        '200':
          description: Operation success and returned no data
        '204':
          description: No Content
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/executive:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Executives data
      operationId: findAllUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CExecutive'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new Executive
      operationId: createExecutiveUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: executive
          description: executive
          required: true
          schema:
            $ref: '#/definitions/CExecutive'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CExecutive'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/executive/by-personal-id/{personalId}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find an Executive by personal Identification
      operationId: retrieveExecutiveByPersonalIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: personalId
          in: path
          description: personalId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CExecutive'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CExecutive'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/executive/integration/{personalId}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find an Executive from CORE
      operationId: retrieveExecutiveFromCoreUsingGET
      produces:
        - '*/*'
      parameters:
        - name: personalId
          in: path
          description: personalId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CExecutive'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CExecutive'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/executive/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find an Executive by primary key
      operationId: retrieveExecutiveByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CExecutive'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CExecutive'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete an Executive by personal Identification
      operationId: deleteExecutiveUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CExecutive'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CExecutive'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/file-format:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All File Formats data
      operationId: findAllFileFormatsUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CFileFormat'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new File Format
      operationId: createFileFormatUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: fileFormat
          description: fileFormat
          required: true
          schema:
            $ref: '#/definitions/CFileFormat'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CFileFormat'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/file-format/by-criteria:
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: >-
        API to find all File format using a Criteria, the criteria is a
        CFileFormat instance
      operationId: findAllByCriteriaUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: criteria
          description: criteria
          required: true
          schema:
            $ref: '#/definitions/CFileFormat'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CFileFormat'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/file-format/by-name/{fileName}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All File Formats by Name
      operationId: findFileFormatByNameUsingGET
      produces:
        - '*/*'
      parameters:
        - name: fileName
          in: path
          description: fileName
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CFileFormat'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/file-format/his/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets File Format History by code
      operationId: findFileFormatAudByCodeUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CFileFormat'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/file-format/status/{status}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All File Formats data by status
      operationId: findAllFileFormatsByStatusUsingGET
      produces:
        - '*/*'
      parameters:
        - name: status
          in: path
          description: status
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CFileFormat'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/file-format/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a File Format by primary key
      operationId: retrieveFileFormatByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CFileFormat'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CFileFormat'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete a File Format by primary key
      operationId: deleteFileFormatUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CFileFormat'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CFileFormat'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/network:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Networks data
      operationId: findAllNetworksUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to Create new Network
      operationId: createNetworkUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: network
          description: network
          required: true
          schema:
            $ref: '#/definitions/CNetwork_1'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CNetwork'
        '201':
          description: Created
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  /v1/agreements/params/network/integration:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Networks data from CORE
      operationId: retrieveNetworkListFromCoreUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/network/integration/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Network from CORE
      operationId: retrieveNetworkFromCoreUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CNetwork'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
  '/v1/agreements/params/network/{id}':
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to find a Network by primary key
      operationId: retrieveNetworkByPkUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/CNetwork'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - api-cloudbanco-agreements-params
      summary: API to delete a Network by primary key
      operationId: deleteNetworkUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CNetwork'
        '204':
          description: Operation success and returned no data
          schema:
            $ref: '#/definitions/CNetwork'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
      deprecated: false
  /v1/agreements/params/trx-method:
    get:
      tags:
        - api-cloudbanco-agreements-params
      summary: Gets All Transaction Method data
      operationId: findAllTransactionMethodsUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: Successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CTransactionMethod'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
[...]
